body {
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#navbar {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.container {
	margin: 50px auto 40px auto;
	width: 600px;
    text-align: center;
}

a {
	color: #4183c4;
}

p {
	color: rgba(255, 255, 255, 0.9);
    margin: 20px 0;
    line-height: 1.6;
}

.container {
	text-align: center;
}

h1 {
	display: block;
}

.section-headline {
	width: 420px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	font-size: 38px;
    line-height: 1.1429;
    font-weight: 200;
    letter-spacing: -0.01em;
}

.backlink {
	font-weight: 200;
}