html, body {
	text-align: center;
	color: white;
	background-color: black;
	font-family: 'ralewaylight', raleway light, raleway, arial, verdana, sans-serif;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
	direction: ltr;
}

#slogan {
	font-size: 52px;
}

#text {
	font-size: 30px;
}

#main-links p {
	margin: .45em;
}


a {
	color: rgb(0, 132, 180);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.small_menu_link {
	font-size: 22px;
}

#twitter {
	margin-left: 2.5px;
}