html, body {
	text-align: center;
	color: white;
	background-color: black;
	font-family: 'Raleway', Raleway, Raleway, Arial, Verdana, sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
	direction: ltr;
	margin: 0;
	padding: 0;
}

#slogan {
	font-size: 52px;
}

#text {
	font-size: 30px;
}

#main-links p {
	margin: .45em;
}


a {
	color: hsla(199, 80%, 48%, 1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

figure {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.heading {
	text-align: center;
}

h2.headline {
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1em;
}


.small_menu_link {
	font-size: 22px;
}

.github {
	background-image: url('github.svg');
	background-size: 32px 32px;
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}

.twitter {
	background-image: url('twitter.svg');
	background-size: 36px 36px;
	background-repeat: no-repeat;
	width: 36px;
	height: 36px;
	
	margin-left: 2.5px;
}

.instagram {
	background-image: url('instagram.svg');
	background-size: 35px 35px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
}

.email {
	background-image: url('email.svg');
	background-size: 34px 34px;
	background-repeat: no-repeat;
	width: 34px;
	height: 34px;
	margin-left: 5px;
}