body {
	padding: 0;
	margin: 0;
}

#showcase {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	min-height: 512px;
	
	display: flex;
    align-items: center;
    justify-content: center;
	
	font-size: 34px;
}

#title {
	font-size: 86px;
	margin-bottom: 5px;
}


#text {
	text-align: center;
	color: white;
	background-color: rgb(18, 18, 18);
	font-family: 'ralewaylight', raleway light, raleway, arial, verdana, sans-serif;
}

#main_point_container {
	padding: 1em 0em;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center ; /* for horizontal aligning of child divs */
	align-items : center ; /* for vertical aligning */
}

.main_point {
	margin: auto 4%;
}

.main_point .icon {
	width: 	150px;
	height: 150px;
	background: rgb(250, 250, 250); /* old color: ff4545 */
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 1em;
}

.main_point .icon img {
	margin-top: 25%;
	height: 50%;
}