html, body {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#navbar {
	margin-top: 1.125%;
	margin-bottom: 1.125%;
}

section {
  padding: 100px 0;
}

section.sized {
	box-sizing: border-box;
	position: relative;
	text-align: center;
	min-height: 790px;
	max-height: 840px;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	z-index: 2;
}

.content {
	width: 50%;
	margin: 0 auto;
	line-height: 1.5em;
}

.sized .sized-content {
	-webkit-transform: translateY(-60%);
	-ms-transform: translateY(-60%);
	transform: translateY(-60%);
	position: absolute;
	z-index: 4;
	top: 50%;
	width: 100%;
}

.white {
  background-color: white;
  color: #101010;
}

.white.square {
	margin: 0;
	width: 100%;
	border-bottom: 1px solid #f0f0f0;
}

.logo {
	width: 100%;
	height: 50vw;
	background-image: url('../logo.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.font-logo {
	width: 100%;
	height: 15vw;
	background-image: url('../font_logo_black.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.statement {
  font-size: 2em;
  text-align: left;
}

.statement-link {
  margin: 1em 0;
  font-size: .75em;
}

@media only screen
and (max-width : 530px) {
	/* Styles */
	.contact-infos {
		-webkit-transform: translateX(-20%);
		-ms-transform: translateX(-20%);
		transform: translateX(-20%);
	}
	
	.statement.founding {
		font-size: 5vw;
	}
}

@media only screen
and (min-width : 530px) {
	/* Styles */
	.contact-infos {
		-webkit-transform: translateX(-20%);
		-ms-transform: translateX(-20%);
		transform: translateX(-20%);
	}
	
	.statement.founding {
		font-size: 4vw;
	}
}

/* Smaller screens ----------- */
@media only screen
and (max-width : 1223px) {
	/* Styles */
	.workers-section {
		background-image: url('images/workers-bg/normal.jpg');
	}
}

/* **** Speciality for the email icon / address text **** */
@media only screen
and (max-width : 1474px) {
	/* Styles */
	#workers .email {
		margin-left: 0;
	}
	
	#workers .email-address {
		visibility: hidden;
		opacity: 0;
		width: 0;
		height: 0;
	}
}
@media only screen
and (min-width : 1475px) {
	/* Styles */
	#workers .email {
		margin-left: 2.25em;
	}
	
	#workers .email-address {
		margin-left: .6em;
		padding-bottom: .9em;
	}
}

/* **** Speciality for the .thomrol background-overlay **** */
@media only screen
and (max-width : 1320px) {
	.thomorl .background-overlay {
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
	}
}

@media only screen
and (min-width : 1320px) {
	.thomorl .background-overlay {
		background-color: rgba(0, 0, 0, 0);
		color: black;
	}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
	/* Styles */
	.workers-section {
		background-image: url('images/workers-bg/large.jpg');
	}
	
	.statement.founding {
		font-size: 2.5em;
	}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	/* Styles */
	.workers-section {
		background-image: url('images/workers-bg/extra-large.jpg');
	}
}

/* UHD TVs ----------- */
@media only screen
and (min-width: 3000px) {
	/* Styles */
	.workers-section {
		background-image: url('images/workers-bg/extra-extra-large.jpg');
	}
}

.workers-section {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

.background-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	
	padding: 100px 0;
}

#contact {
	font-size: 1.5em;
}

.contact-infos {
	margin-top: 2em;
	display: inline-block;
}

.contact-infos td {
	padding: 10px;
}

.contact-infos td.label {
	text-align: right;
}

.contact-infos td.value {
	text-align: left;
}

#workers {
	text-align: left;
}

#workers .heading {
	margin-bottom: 1em;
}

#workers .worker {
	display: inline-block;
}

#workers .name {
	text-align: left;
	font-size: 1.5em;
}

#workers .photo {
	transition: box-shadow .5s ease;
	vertical-align: middle;
	margin-right: 1em;
}

#workers .photo:hover {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}

#workers .social-link {
	color: white;
	margin-left: .75em;
	vertical-align: middle;
	font-size: 1.5em;
}

#workers .email {
	transition: all 0.5s;
}

#workers .email-address {
	vertical-align: middle;
	display: inline-block;
}

#workers .email-address:hover {
	text-decoration: underline;
}

.thomorl {
	background-position: right;
	background-size: contain;
	background-image: url('images/thomorl.jpg');
	background-repeat: no-repeat;
	
	padding: 0;
}

.thomorl .background-overlay {
	transition: background-color 1s, color .75s;
}

.copyright-notice {
	padding: 75px 0;
}

.copyright-notice .main-notice {
	font-size: 1.325em;
	line-height: initial;
}

#credits {
	text-align: left;
}

.paper-bag {
  font-family: 'Quicksand', sans-serif;
  background-color: #b29772;
  font-size: 6em;
}