html, body {
	margin: 0;
	padding: 0;
}

#navbar {
	margin-top: 1.125%;
	margin-bottom: 1.125%;
}

#oc_logo {
	margin: 6em 0em;
	box-shadow: 0px 0px #000;
}

.main-logo {
	-webkit-animation: land ease-in 3.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: land ease-in 3.5s; /* Firefox < 16 */
        -ms-animation: land ease-in 3.5s; /* Internet Explorer */
         -o-animation: land ease-in 3.5s; /* Opera < 12.1 */
            animation: land ease-in 3.5s;
	
	animation-fill-mode: forwards;
	
	background-image: url('icon.svg');
	background-repeat: no-repeat;
	display: inline-block;
	background-size: 256px 256px;
	width: 256px;
	height: 256px;
}

.main-fade {
	opacity: 0;
	
	-webkit-animation: fade ease-in 2.2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fade ease-in 2.2s; /* Firefox < 16 */
        -ms-animation: fade ease-in 2.2s; /* Internet Explorer */
         -o-animation: fade ease-in 2.2s; /* Opera < 12.1 */
            animation: fade ease-in 2.2s;
	
	animation-delay: 1.55s;
	animation-fill-mode: forwards;
}

.title {
	font-size: 1.35em;
}

h1 {
	font-weight: normal;
}

.buffer1 {
	margin-bottom: 7em;
}

@keyframes land {
    0% 		{ opacity: 0; transform: translate(0px, 0px); box-shadow: 0px 0px #000; }
    100%  	{ opacity: 1; transform: translate(0px, 15px); box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white; }
}

/* Firefox < 16 */
@-moz-keyframes land {
    0% 		{ opacity: 0; -moz-transform: translate(0px, 0px); box-shadow: 0px 0px #000; }
    100%   	{ opacity: 1; -moz-transform: translate(0px, 15px); box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes land {
    0% 		{ opacity: 0; -webkit-transform: translate(0px, 0px); box-shadow: 0px 0px #000; }
    100%   	{ opacity: 1; -webkit-transform: translate(0px, 15px); box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white; }
}

/* Internet Explorer */
@-ms-keyframes land {
    0% 		{ opacity: 0; -ms-transform: translate(0px, 0px); box-shadow: 0px 0px #000; }
    100%   	{ opacity: 1; -ms-transform: translate(0px, 15px); box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white; }
}

/* Opera < 12.1 */
@-o-keyframes land {
    0% 		{ opacity: 0; -o-transform: translate(0px, 0px); box-shadow: 0px 0px #000; }
    100%   	{ opacity: 1; -o-transform: translate(0px, 15px); box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white; }
}


/* Fading */
@keyframes fade {
	from 	{ opacity: 0; }
	to		{ opacity: 1; }
}

@-moz-keyframes fade {
	from 	{ opacity: 0; }
	to		{ opacity: 1; }
}

@-webkit-keyframes fade {
	from 	{ opacity: 0; }
	to		{ opacity: 1; }
}

@-ms-keyframes fade {
	from 	{ opacity: 0; }
	to		{ opacity: 1; }
}

@-o-keyframes fade {
	from 	{ opacity: 0; }
	to		{ opacity: 1; }
}

.align-center {
	text-align: center;
	display: inline-block;
	margin: 2.5em;
}

.section {
	padding: 2.5em 0;
	font-size: 1.65em;
	background-color: #f2f2f2;
	color: black;
}

.main-section {
	font-size: 1.75em;
	margin-left: auto;
	margin-right: auto;
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px)
{
	.main-section {
		width: 980px;
		line-height: 1.4em;
	}
}

@media only screen
and (max-width : 1224px)
and (min-width : 700px)
{
	.main-section {
		width: 642px;
		line-height: 1.45em;
	}
}

@media only screen
and (min-width : 360px)
and (max-width : 700px) {
	.main-section {
		width: 360px;
		font-size: 1em;
		line-height: 1.4em;
	}
}

@media only screen
and (min-width : 320px)
and (max-width : 360px) {
	.main-section {
		width: 320px;
		font-size: 1.1em;
		line-height: 1.4em;
	}
}

.sublogo {
	box-shadow: 0px 0px 8px 1px #aaaaaa;
	background-repeat: no-repeat;
	display: inline-block;
	background-size: 128px 128px;
	width: 128px;
	height: 128px;
}

.subtitle {
	font-size: 1.2em;
	text-shadow: 0px 0px 6px #cdcdcd;
}

.studio-logo {
	background-image: url('studio_icon.svg');
}