html, body {
	margin: 0;
	padding: 0;
}

#navbar {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

#title-div {
	padding-top: 5em;
	padding-left: 1em;
	padding-right: 1em;
	background-size: cover;
	background-image: url('background-default.jpeg');
	background-repeat: no-repeat;
	/*background-position: 50% 100%;
    background-position-x: 50%;
    background-position-y: 100%;*/
	text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	padding-bottom: 5em;
}

#title-div h1 {
	font-size: 82px;
    line-height: 1.21951;
    font-weight: 200;
    letter-spacing: normal;
    margin-top: 12px;
    margin-bottom: 0;
}

#title-div h2 {
	font-size: 42px;
    line-height: 1.80952;
    font-weight: 200;
    letter-spacing: -0.01em;
    margin-top: -16px;
}

#title-div h3 {
	font-size: 24px;
    line-height: 1.35417;
    font-weight: 200;
    margin-top: 11px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: -.01em;
    max-width: 880px;
}

.button {
	font-size: 16px;
    line-height: 1.9375;
    font-weight: /* 500 */ 500;
    letter-spacing: 0em;
    background-color: #0070c9;
    background: -webkit-linear-gradient(#42a1ec, #0070c9);
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    text-align: center;
    white-space: nowrap;
}

.button:hover {
	background-color: #147bcd;
    background: -webkit-linear-gradient(#51a9ee, #147bcd);
    background: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0;
    text-decoration: none;
}

#logo {
	
}